.navbar{
    background-color: darkseagreen;
    padding: 0;
    margin: 0;
}
ul{
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
}
ul>li {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
}

